
.container {
    position: relative;   
    width: 200px;
    height: 200px;
    
  }
  
  .square {
 position: absolute;
    width: 100px;
    height: 100px;
  }
  
  .red {
    background-color: #ff6b6b;
;    top: 50px;
    left: 50px;
  }
  
  .blue {
    background-color: #6b6bff;

    z-index: 1;    top: 100px;
    left: 100px;
  }
  
  .green {
    background-color: #6bff6b;
    top: 150px;
    left: 150px;
  }
  